<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>OnlineBankApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  <servlet>
   <servlet-name>Authenticate</servlet-name>
   <servlet-class>com.bank.servlet.CustomerRegistration</servlet-class>
   
   <init-param>
  <param-name>driverClass</param-name>
  <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </init-param>
  
  
   <init-param>
  <param-name>dbUrl</param-name>
  <param-value>jdbc:mysql://localhost/bank</param-value>
  </init-param>
  
  <init-param>
  <param-name>dbUser</param-name>
  <param-value>root</param-value>
  </init-param>
  
  <init-param>
  <param-name>dbPassword</param-name>
  <param-value>root</param-value>
  </init-param>
  <load-on-startup>100</load-on-startup>
   </servlet>
  
  
</web-app>